*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #010e16;
    color: white;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container h1{
    font-weight: 400;
    font-size: 45px;
}
.container h1 span{
    color: #7806c9;
    border-bottom: 4px solid #7806c9;
    padding-bottom: 7px;
}
.display{
    width: 700pxpx;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20xp;
    border-radius: 6px;
    box-shadow: 0px 0px 30px #ffff;
}
.display input{
    width: 600px;
    height: 70px;
    border-radius: 6px 0 0 6px;
    text-decoration: none;
    border: 0;
    outline: 0;
    font-size: 20px;
}
.display i {
    font-size: 40px;
    padding-right: 20px;
    color: #7806c9;
    cursor: pointer;
    box-shadow: 6px#7806c9;
}

.container button{
    border: 0;
    outline: 0;
    background-color: #7806c9;
    color: aliceblue;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 30px #7806c9;
}
.container button i{
    font-size: 26px;
    margin-right: 10px;
    color: rgb(225, 236, 25);
}

.container h2{
    font-size: 20px;
    color: #7806c9;
    padding-bottom: 10px;
}

.number input{
    width: 126px;
    height: 30px;
    border-radius: 6px;
    border: 0;
    outline: 0;
    font-size: 13.6px;
    box-shadow: 0px 0px 6px #ffff;
}

.option{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.text{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.text input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #7806c9;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    margin-left: 10px;
    box-shadow: 0px 0px 6px #7806c9;
}

.text input[type="checkbox"]:checked {
    background-color: #7806c9;
    border: 2px solid #7806c9;
}

.text input[type="checkbox"]:checked::after {
    content: '\f00c'; /* FontAwesome checkmark */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
